<div class="header">
	<ul class="nav nav-pills pull-right">
		<li class="active"><a href="#">Home</a></li>
		<li><a href="#">About</a></li>
		<li><a href="#">Contact</a></li>
	</ul>
	<h3 class="text-muted">nigel web chat</h3>
</div>
<div style="height: 400px; overflow-y: auto; overflow-x: auto;">
	<pre ng-repeat="out in output">{{out}}</pre>
</div>
<input class="form-control" style="float: left; width: 80%;"type="text" ng-model="chat">
<button ng-click="post()" class="pull-right btn btn-primary">Send</button>
